:root {
  --light-color: #fcfcfc;
  --dark-color: #666666;
  --light-green: #5bc0be;
  --normal-green: #104148;
  --dark-green: #0d3036;
  --dark-green: rgba(13, 48, 54, 0.95);
  --orange: #5bc0be;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.05);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  outline: 1px solid slategrey;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", "Lato", sans-serif;
}

body {
  overflow: hidden;
}

/* PRELOADER */

.preloader {
  width: 100vw;
  height: 100vh;
  background-color: var(--normal-green);
  z-index: 100;
  position: fixed;
}
.loading > div {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -30px;
}

.loading > div > div {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: var(--light-green);
  top: 10px;
  left: 10px;
  transform-origin: 20px 20px;
  border-radius: 8px;
  animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading > div > .c2 {
  top: 10px;
  left: auto;
  right: 10px;
  transform-origin: -4px 20px;
  animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading > div > .c3 {
  top: auto;
  left: auto;
  right: 10px;
  bottom: 10px;
  transform-origin: -4px -4px;
  animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}
.loading > div > .c4 {
  top: auto;
  bottom: 10px;
  transform-origin: 20px -4px;
  animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes spin-a {
  0% {
    transform: rotate(90deg);
  }
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-b {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-c {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-d {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading > span {
  width: 100px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: 30px;
  color: var(--light-green);
  font-size: 12px;
  text-align: center;
}

/* WELCOME */

.welcome {
  background: url(./images/landing_image_min.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
}
.title-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.name,
.desc {
  color: var(--light-color);
  font-weight: 300;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.name {
  letter-spacing: 10px;
  font-size: 5vw;
  margin-bottom: 3%;
}
.desc {
  font-size: 2vw;
  font-weight: 300;
}
.down-arrow {
  color: var(--light-color);
  position: absolute;
  bottom: 40px;
  left: 48%;
  left: calc(50% - 20px);
  font-size: 40px;
  cursor: pointer;
}

/* NAV */

#navigation {
  display: none;
  position: fixed;
  width: 100%;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--dark-green);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  z-index: 2;
}
#top-navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  z-index: 2;
}
.logo {
  color: var(--light-color);
  float: left;
  margin: 20px;
  cursor: default;
}
.site-nav {
  float: right;
  color: var(--light-color);
  font-weight: 300;
}

.site-nav ul {
  display: flex;
  list-style: none;
  margin-bottom: 0px;
}

.site-nav li {
  text-decoration: none;
  margin-left: 30px;
  padding: 20px 0px;
  position: relative;
  text-align: center;
}
.site-nav li:last-child {
  margin-right: 20px;
}
.site-nav a::before {
  display: block;
  position: absolute;
  height: 3px;
  background-color: var(--light-green);
  content: "";
  top: 0;
  width: 0%;
  transition: all ease-in-out 200ms;
}
.site-nav a:hover::before {
  width: 100%;
}
.site-nav .active::before {
  width: 100%;
}

.site-nav a {
  color: var(--light-color);
  text-decoration: none;
}
.site-nav a:hover {
  color: var(--light-green);
}

/* ABOUT ME */

.about {
  opacity: 1;
  padding: 6% 0px;
  color: var(--dark-color);
  text-align: center;
  background: url("./images/memphis-colorful.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
}
.about h1 {
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 20px;
}
.about hr {
  border: 0;
  margin: auto;
  margin-bottom: 10px;
  height: 2px;
  width: 40%;
  background-image: -webkit-linear-gradient(
    left,
    var(--light-color),
    var(--light-green),
    var(--light-color)
  );
}
.about img {
  border-radius: 60%;
  margin: 30px;
  width: 150px;
}
.about p {
  width: 50%;
  margin: auto;
  line-height: 30px;
  font-size: 18px;
  text-align: justify;
  font-weight: 400;
}
.about strong {
  font-weight: 600;
}

/* SKILLS */

#Skills {
  background-color: var(--light-color);
  color: var(--dark-color);
  border-top: solid 1px var(--dark-color);
  text-align: center;
  padding: 6% 0px;
}
.skills h1 {
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 20px;
}
.knowledge {
  width: 60%;
}
.skills hr {
  border: 0;
  margin: auto;
  margin-bottom: 50px;
  height: 2px;
  width: 40%;
  background-image: -webkit-linear-gradient(
    left,
    var(--light-color),
    var(--orange),
    var(--light-color)
  );
}
.skills h3 {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 20px;
}
.skills .progress {
  margin-top: 3px;
}
.skills .progress-bar {
  background-color: var(--orange) !important;
  font-weight: 600;
  /* font-size: 13px; */
}
table {
  text-align: left;
  border-bottom: solid 1px #e4e7ea;
}
.flippable {
  transform: rotate(0deg);
}

/* ACHIEVEMENTS */

.achievements {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  height: 0%;
}
.card-body {
  padding: 5px;
  border-top: solid 1px #dfdfdf;
}
.card-body a {
  background-color: var(--orange);
  border-color: var(--orange);
  color: white;
  outline: none;
}
.show-more {
  height: 20px;
  font-size: 20px;
  border-top: solid 1px #dfdfdf;
  background-color: var(--light-color);
  transform: rotate(0deg);
}
.show-more i {
  display: block;
}
.show-more i:hover {
  cursor: pointer;
}

/* HIRE */

.hire {
  background-color: var(--light-green);
  text-align: center;
  padding: 50px 0px;
  line-height: 2.5;
  color: var(--light-color);
}
.hire h2 {
  font-size: 32px;
  padding-bottom: 15px;
}
.hire h3 {
  font-size: 18px;
  padding-bottom: 25px;
}
.hire a {
  text-decoration: none;
  color: var(--light-green);
  background-color: var(--light-color);
  padding: 3px 40px;
  border: 1px solid var(--light-color);
  border-radius: 2px;
}
.hire a:hover {
  color: var(--light-color);
  background-color: var(--light-green);
  font-weight: 600;
}

/* PROJECTS */

#Projects {
  background-color: var(--light-color);
  color: var(--dark-color);
  text-align: center;
  padding: 6% 0px;
}
.projects h1 {
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 20px;
}
.projects hr {
  border: 0;
  margin: auto;
  margin-bottom: 50px;
  height: 2px;
  width: 40%;
  background-image: -webkit-linear-gradient(
    left,
    var(--light-color),
    var(--orange),
    var(--light-color)
  );
}

/* CAROUSEL */

.carousel {
  width: 100%;
}
.elem {
  margin: 20px auto;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: none;
}
.elem img {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}
.project-desc {
  width: 350px;
  height: 344px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  padding: 10px;
  margin-right: 10px;
}
.project-desc h3 {
  text-align: center;
}
.project-desc p {
  font-size: 15px;
}
.chips {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--light-color);
}
.chip {
  background-color: var(--dark-color);
  padding: 0 10px;
  border-radius: 25px;
  margin: 2px 2px;
  font-size: 13px;
}
.sources {
  display: flex;
  align-items: center;
  justify-content: center;
}
.redirect {
  background-color: #2f80ed;
  color: var(--light-color);
  padding: 5px 20px;
  margin: 25px 5px;
  border: 1px solid #2f80ed;
  border-radius: 2px;
  letter-spacing: 0.5px;
  font-weight: 300;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}
.sources a {
  text-decoration: none;
}

.slick-next {
  right: 20px;
  transform: scale(1.5);
}

/* CONTACT */

#Contact {
  text-align: center;
  background-color: var(--light-green);
  color: var(--light-color);
  padding: 6% 0px 0px 0px;
}
.contact h1 {
  font-weight: 400;
  font-size: 3.5rem;
  margin-top: 20px;
}
.contact hr {
  border: 0;
  margin: auto;
  margin-bottom: 50px;
  height: 2px;
  width: 40%;
  background-image: -webkit-linear-gradient(
    left,
    var(--light-green),
    var(--light-color),
    var(--light-green)
  );
}
.contact h5 {
  font-size: 1.6rem;
  font-weight: 300;
}
.contact form {
  margin: 80px auto;
}
form label {
  font-weight: 200;
}
.row {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-elem {
  width: 45%;
  text-align: left;
}
#name,
#email,
#message {
  border-radius: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--light-color);
  color: var(--light-color);
  font-weight: 300;
  resize: none;
}
.message {
  text-align: left;
  margin-top: 50px;
}
#name:focus,
#email:focus,
#message:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
#name::placeholder,
#email::placeholder,
#message::placeholder {
  color: var(--light-color);
}
.submit-form {
  padding: 5px 30px;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  cursor: pointer;
  color: var(--light-green);
  margin-top: 40px;
  font-size: 1.2em;
  font-weight: 300;
}
.media {
  padding: 0px 30px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.media a {
  margin: 25px;
  text-decoration: none;
  color: var(--light-color);
  border-radius: 5px;
  width: 80px;
}

/* FOOTER */

.site-footer {
  margin-top: 40px;
  background-color: var(--light-green);
  border-top: solid 1px var(--light-color);
  height: 60px;
  font-weight: 300;
  padding: 18px;
}
/* RESPONSIVE */

/* ipad */
@media screen and (max-width: 768px) {
  .name {
    font-size: 6vw;
  }
  .desc {
    font-size: 2.5vw;
  }
  .about p {
    width: 80%;
  }
  .elem img {
    width: 40%;
  }
  .contact h5 {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .media {
    padding: 0px 20px;
    font-size: 40px;
  }
  .media a {
    margin: 15px;
    text-decoration: none;
    color: var(--light-color);
    border-radius: 5px;
    width: 65px;
  }
}
@media screen and (max-width: 630px) {
  .logo {
    display: none;
  }
  .site-nav {
    width: 100%;
    padding: 10px;
  }

  .site-nav ul {
    margin-bottom: 0px;
    align-items: center;
    justify-content: center;
  }
  .about img {
    width: 100px;
  }
  .about p {
    width: 90%;
  }
  .elem {
    margin: 20px auto;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
  }
  .elem img {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    order: 1;
    width: 100%;
  }
  .project-desc {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: auto;
    order: 2;
  }
  .project-desc h3 {
    margin-top: -10px;
  }
  .project-desc p {
    padding: 20px;
    margin: -15px 0;
  }
  .slider-nav {
    display: none;
  }
  .slick-next {
    right: 5px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: var(--dark-color);
  }
  #Projects {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 480px) {
  #navigation {
    font-size: 16px;
  }
  .site-nav {
    padding: 10px 0px;
  }

  .site-nav ul {
    justify-content: space-around;
  }

  .site-nav li {
    margin: 0px;
  }
  .name {
    font-size: 7vw;
  }
  .desc {
    font-size: 4vw;
  }
  .about h1,
  .skills h1,
  .projects h1,
  .contacts h1 {
    font-size: 2.5rem;
  }
  .about p {
    font-size: 14px;
  }
  .knowledge {
    width: 100%;
  }
  th {
    font-size: 12px;
  }
  .card {
    width: 300px;
  }
  .contact form {
    width: 90%;
    margin: 40px auto;
  }
  .row {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
  .form-elem {
    width: 100%;
    text-align: left;
  }
  #name {
    margin-bottom: 25px;
  }
  .message {
    margin-top: 25px;
  }
  .media {
    padding: 0px 5px;
    font-size: 20px;
    border-radius: 2px;
  }
  .media a {
    margin: 7px;
    text-decoration: none;
    color: var(--light-color);
    border-radius: 5px;
    width: 30px;
  }
}
